<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title> Welcome </title>
	</head>
	<body>
		<form>
			<label for="buildings1">Building1 </label>
			<select name="buildings1" id="buildings1">
				<option value="Chromwell Hall">Chromwell Hall</option>
				<option value="Bliss Hall">Bliss Hall</option>
				<option value="Armstrong Hall">Armstrong Hall</option>
				<option value="Art & IMM">Art & IMM</option>
				<option value="ASB">ASB</option>
				<option value="Biology Building">Biology Building</option>
				<option value="Brower Student Center">Brower Student Center</option>
				<option value="School of Business">School of Business</option>
				<option value="Centennial Hall">Centennial Hall</option>
				<option value="Decker Hall">Decker Hall</opton>
				<option value="Education Building">Education Building</option>
				<option value="Eickhoff Hall">Eickhoff Hall</option>
				<option value="Forcina Hall">Forcina Hall</option>
				<option value="Green Hall">Green Hall</option>
				<option value="Hausdoerffer Hall">Hausdoerffer Hall</option>
				<option value="Kendall Hall">Kendall Hall</option>
				<option value="Maintenance Building">Maintenance Building</option>
				<option value="Music Building">Music Building</option>
				<option value="New Residence Hall">New Residence Hall</option>
				<option value="Norsworthy Hall">Norsworthy Hall</option>
				<option value="Packer Hall">Packer Hall</option>
				<option value="Phelps Hall">Phelps Hall</option>
				<option value="Athletic Recreation Center">Athletic Recreation Center</option>
				<option value="Roscoe L West 68 Building">Roscoe L West 68 Building</option>
				<option value="Science Complex">Science Complex</option>
				<option value="Social Science Building">Social Science Building</option>
				<option value="Spiritual Center">Spiritual Center</optoin>
				<option value="R. Barbara Gitenstein Library">R. Barbara Gitenstein Library</option>
				<option value="Travers Wolfe Hall">Travers Wolfe Hall</option>
				<option value="Townhouse West/East (Culster #1)">Townhouse West/East (Cluster#1)</option>
				<option value="Power House/Cogen">Power House/Cogen</option>
				<option value="Trenton Hall">Trenton Hall</option>
				<option value="Townhouse South (Cluster #2)">Townhouse (Cluster #2)</option>
				<option value="Bliss Annex">Bliss Annex</option>
				<option value="Rosecoe L West 34 Building">Rosecoe L West 34 Building</option>
				<option value="Lions Stadium Concession">Lions Stadium Concession</option>
				<option value="Lions Stadium Restrooms">Lions Stadium Restrooms</option>
				<option value="Lions Stadium Pressbox">Lions Stadium Pressbox</option>
				<option value="Trenton Info Booth">Trenton Info Booth</option>
				<option value="Soccer Bathrooms">Soccer Bathrooms</optoin>
				<option value="Soccer Pressbox">Soccer Pressbox</option>
				<option value="STEM Building/Forum">STEM Building/Forum</option>
				<option value="Chemistry Addition">Chemistry Addition</option>
				<option value="Green Lane Storage">Green Lane Storage</option>

			</select>
			<br><br>

				<input type="submit" value="Submit">
		</form>
	</body>
</html>
