<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title> Building Form </title>
	</head>
	<body>
		<h1> WELCOME </h1>
		<form action="/results" method="POST">
			<label for="buildings1">Building </label>
			<select name="building1" id="buildings1">
				{% for item in items %}	
				<option value="{{item[0]}}">{{item[0]}}</option>
				{% endfor %}
			</select>	
			<br><br>
			<label for="option1">Basic Statistics
				<input id="option1" type="radio" name="options" value = "option1">
			</label>
			<br>
			<label for="option2">Energy Demanded
				<input id="option2" type="radio" name="options" value = "option2">
			</label>
			<br>
			<label for="option3">Seasonality Comparison
				<input id="option3" type="radio" name="options" value = "option3">
			</label>
			<br>
			<input type="submit" value="Submit">
		</form>
</html>
