<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title> Building Form </title>
	</head>
	<style>
		#stealthy {
			display: none;
		}
	</style>
	<body style="background-color: #259125">
		<form action="/results" method="POST">
			<label for="buildings1">Building </label>
			<select name="building1" id="buildings1">
				{% for item in items %}	
				<option value="{{item[0]}}">{{item[0]}}</option>
				{% endfor %}
			</select>	
			<br><br>
			<label for="option1">Basic Statistics
				<input id="option1" type="radio" name="options" value = "option1">
			</label>
			<br>
			<label for="option2">Energy Demanded
				<input id="option2" type="radio" name="options" value = "option2">
			</label>
				<div id="stealthy">
					<br>
					<label for="start_date">Start date
						<input id="start_date" type="date" name="start_date">
					</label>
					<br> 
					<label for="end_date">End date
						<input id="end_date" type="date" name="end_date">
					</label>
				</div>
			<br>
			<label for="option3">Seasonality Comparison
				<input id="option3" type="radio" name="options" value = "option3">
				<select name="years" id="years">
					<option value="2009">2009</option>
					<option value="2010">2010</option>
					<option value="2011">2011</option>
					<option value="2012">2012</option>
					<option value="2013">2013</option>
					<option value="2014">2014</option>
					<option value="2015">2015</option>
					<option value="2016">2016</option>
					<option value="2017">2017</option>
					<option value="2018">2018</option>
					<option value="2019">2019</option>
					<option value="2020">2020</option>
				</select>	
			</label>
			<br>
			<input type="submit" value="Submit">
		</form>
		<script>
			msg = document.getElementById('stealthy')
			function handleRadioClick() {
				if(document.getElementById("option2").checked){
					msg.style.display = 'inline';
				} else {
					msg.style.display = 'none';
				}
			}
			const radioButtons = document.querySelectorAll('input[name="options"]');
			radioButtons.forEach(radio => {
				radio.addEventListener('click', handleRadioClick);
			});



		</script>
</html>
